/* Standardise page */
html {
  font-family: sans-serif;
  font-size: 16px
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

/* Changing cursor when hover over button */
button {
  cursor: pointer;
}

.boundary{
    box-sizing: border-box;
    line-height: 1.5;
}

/* Changing top 3 buttons to look like tabs*/
.tablink {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  width: 31%;
}

.tablink:hover {
  background-color: #777;
}

/* Styling for table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cccccc;
  padding: 5px;
}

th {
  background-color: #f0f0ef;
}

tr:nth-child(even){
  background-color: #f9f9f9;
}

/* Styling for submission forms*/
.form {
  font-family: sans-serif;
}

.form * {
  box-sizing: border-box;
  line-height: 1.5;
}

.form__title {
  font-size: 1.5em;
  font-weight: 600;
}

.form__item {
  display: flex;
  flex-direction: column;

}

.form__item > * {
  align-self: flex-start;
}

.form__label{
  font-weight: 600;
  padding: 10px 0;
}

.form__input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 425px;

  min-height: calc(0.9em + (0.8em * 2) + 0.6em);

  padding: 0.8em;
  font-size: 0.9em;
  font-family: sans-serif;

  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s

}

.form__input:focus{
  background: #ffffff;
}

.form__input::placehold {
  color: #bbbbbb;
}

/* Styling for submission button*/
.form__btn {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 8px 12px;
  margin: 10px 0;

  color: #ffffff;
  background: #2266ee;
  border: 2px solid #1258e5;
  border-radius: 5px;

  cursor: pointer;
  outline: none;
}

/* To make button feel more reactive*/
.form__btn:active {
  color:#2266ee;
  background: #ffffff;
  border: 2px solid #1258e5;
}

.auto_form__btn {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 8px 12px;
  margin: 10px 0;

  color:#2266ee;
  background: #ffffff;
  border: 2px solid #1258e5;
  border-radius: 5px;
}

.auto_form__btn:active{
  color: #ffffff;
  background: #2266ee;
  border: 2px solid #1258e5;
}
